body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  form {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 97%;
    margin-bottom: 20px;
  }
  
  button[type="submit"], button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button a {
    color: white;
    text-decoration: none;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 24px;
  }
  textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 97%;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
  }